@font-face {
    font-family: 'Nanum Gothic';
    src: url(../font/NanumGothic-Bold.woff2) format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(../font/NanumGothic-Regular.woff2) format("woff2");
    font-weight: 400;
}